.Main-chat
  .cheader
    .cheader__group
      .cheader__group__name
        = @group.name
      .cheader__group__member
        Member : 
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "cheader__edit" do
      Edit

  .cmain
    .MessageField
      = render @messages

  .cfooter
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .fcontents
        = f.text_field :content, class: 'fcontents__text', placeholder: 'type a message'
        = f.label :image, class: 'fcontents__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'fcontents__image__file'
      = f.submit 'Send', class: 'submit'
